
/*Secciones*/
.form-register {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  padding: 35px 20px;
  border: solid 1px #f8f9fa;
  box-shadow: 7px 7px 25px #6c757d;
  background-color: #f8f9fa;
  color: #212529;
  border-radius: 0px;
  font-family: "calibri";
  min-height: 300px;
}

.form-register h1 {
  font-size: 28px;
  font-weight: bold;
}

body {
  background-color: #ced4da;
}

/***********************************************/
/*****************Forulario********************/
/*Toast*/
#mytoast{
  position: static;
}
/*inputs*/
.control {
  background-color: #e9ecef;
  padding: 5px;
  margin-bottom: 1px;
  border: 1px solid #dee2e6;
  font-size: 17px;
  color: #212529;
}

/*label*/
.control-lb {
  margin-top: 5px;
  font-family: "calibri";
  font-weight: bold;
}

/*Div botones*/
.button-group {
  text-align: center;
  padding-top: 10px;
}

/*Botones formulario*/
.button-group button {
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 10px 0px;
  border: none;
  border-radius: 0px;
  background-color: #212529;
}

.button-group button:hover {
  background-color: #343a40;
}
/***********************************************/
/***********************************************/

/***********************************************/
/*****************Validacion********************/

/*Clase para los parrafos de error en la validacion de campos*/
.form-error {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 5px;
  display: none;
  color: #cb0b0a;
}

/*Clase que hace visible los parrafos de errror*/
.form-error-active {
  display: block;
}

/*Clase para controlar la posicion de los input con respecto a los iconos*/ 
.group-input {
 position: relative;
}

/*Clase que permite al icono ocupar siempre las misma posicion con respecto al input*/
.group-input i {
  position: absolute;
  right: 25px;
  top: 38px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.form-group-incorrecto .control {
  border: 1px solid #cb0b0a;
}

.form-group-correcto .group-input i {
  color: #70e000;
  opacity: 1;
}

.form-group-incorrecto .group-input i {
  color: #cb0b0a;
  opacity: 1;
}

/**********************************************/

/**********************************************/
/*****************Tabla usuarios***************/
table th, td{
  text-align: center;
  font-size: 18px;
  /*line-height: 70px;*/
  vertical-align: middle;

}
table tbody img{
  width: 70px;
}

@media (max-width: 55em) {
  table {
    width: 100%;
  }
  table tr{
    display: flex;
    flex-direction: column;
    border: 1px solid #212529;
    padding: 5px;
    margin-bottom: 1em; 
    margin-top: 1em;
    font-family: "calibri";
    /*box-shadow: 5px 7px 7px #6c757d;*/

  }
  table td{
    display: flex;
    border: none;
    padding: auto;
  }

  table td[data-titulo]::before{
    content: attr(data-titulo);
    width: 80px;
    font-weight: bold;
    text-align: left;
  }

  thead{
    display: none;
  }

  table tr td button{
    display: block;
    width: 50%;
    margin: auto;
  }
}

.crud-button-delete{
  background-color: #cb0b0a;
  border: 1px solid #cb0b0a;
  color: #fff;
  width: 40%;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  
}

.crud-button-edit{
  background-color: #212529;
  border: 1px solid #212529;
  color: #fff;
  width: 40%;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  
}

.crud-button-details{
  width: 40%;
  height: 100%;
  background-color: #212529;
  border: 1px solid #212529;
  color: #fff;
  border-radius: 2em;
  
}

.navbar-brand{
  font-family: 'Staatliches', cursive;
  color: #343a40;
}
.navbar-light .navbar-brand {
  color: #343a40; 
}
/**********************************************/

